<div class="w-full mx-auto max-w-3xl flex  justify-center items-center mt-32 mb-8">
    <p-card class="w-full" header="Edit book">
        <form [formGroup]=" editBookForm" (ngSubmit)="onSubmit()" class="w-full">
            <div class="space-y-2.5">

                <div class="flex flex-col-reverse md:flex-row w-full md:gap-4 h-full">

                    <div class="flex flex-col gap-1 w-full ">
                        <label for="bookDescription">Book description*</label>

                        <textarea id="bookDescription" class="w-full p-2 rounded-md min-h-20 max-h-[220px] h-[220px]"
                            formControlName="bookDescription" placeholder="book description" rows="5" cols="30"
                            pInputTextarea formControlName="bookDescription">
                        </textarea>



                        @if(! editBookForm.controls.bookDescription.valid &&
                        editBookForm.controls.bookDescription.touched){
                        <div>
                            @if ( editBookForm.controls.bookDescription.getError("required")) {
                            <app-input-error-message message="Book description is required" />
                            }
                        </div>
                        }
                    </div>






                </div>





                <div class="flex flex-col gap-1 ">
                    <label for="title">Ttile*</label>

                    <input placeholder="title"
                        [ngClass]="! editBookForm.controls.title.valid &&  editBookForm.controls.title.touched?'ng-invalid ng-dirty':''"
                        id="title" class="w-full" type="text" pInputText formControlName="title" />

                    @if(! editBookForm.controls.title.valid && editBookForm.controls.title.touched){
                    <div>
                        @if ( editBookForm.controls.title.getError("required")) {
                        <app-input-error-message message="Title is required" />
                        }
                    </div>
                    }
                </div>




                <div class="flex-col md:flex-row flex w-full md:gap-2">

                    <div class="w-full md:space-y-2">

                        <div class="flex flex-col gap-1 ">
                            <label for="numberOfPages">Number of pages*</label>

                            <p-inputNumber placeholder="Number of pages" [style]="{'width':'100%'}" min="1" max="5000"
                                [inputStyle]="{'width':'100%'}"
                                [ngClass]="! editBookForm.controls.numberOfPages.valid &&  editBookForm.controls.numberOfPages.touched?'ng-invalid ng-dirty':''"
                                id="numberOfPages" class="w-full" formControlName="numberOfPages" />

                            @if(! editBookForm.controls.numberOfPages.valid &&
                            editBookForm.controls.numberOfPages.touched){
                            <div>
                                @if ( editBookForm.controls.numberOfPages.getError("required")) {
                                <app-input-error-message message="Number of pages is required" />
                                }
                            </div>
                            }
                        </div>

                        <div class="flex flex-col gap-1 ">
                            <label for="avaibleCopies">Avaible copies*</label>

                            <p-inputNumber placeholder="Avaible copies" [style]="{'width':'100%'}" min="0" max="100"
                                [inputStyle]="{'width':'100%'}"
                                [ngClass]="! editBookForm.controls.availableCopies.valid &&  editBookForm.controls.availableCopies.touched?'ng-invalid ng-dirty':''"
                                id="availableCopies" class="w-full" formControlName="availableCopies" />

                            @if(! editBookForm.controls.availableCopies.valid &&
                            editBookForm.controls.availableCopies.touched){
                            <div>
                                @if ( editBookForm.controls.availableCopies.getError("required")) {
                                <app-input-error-message message="Avaible copies is required" />
                                }
                            </div>
                            }
                        </div>

                    </div>

                    <div class="w-full md:space-y-2">


                        <div class="flex flex-col gap-1 ">
                            <label for="date">Publication Date*</label>
                            <p-calendar placeholder="Publication Date" inputId="date" formControlName="publicationDate"
                                class="w-full" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" />
                        </div>


                        <div class="flex flex-col gap-1 ">
                            <label for="categoriesIds">Categroies</label>
                            @if (categories) {
                            <p-multiSelect [options]="categories.categories" formControlName="categoriesIds"
                                optionLabel="name" placeholder="Select categories" [style]="{'width':'100%'}" />
                            }
                        </div>

                    </div>
                </div>
                <div class="flex flex-col gap-2 ">
                    <label for="image">Image</label>
                    <input [disabled]="editBookForm.controls.deleteImage.value===true" accept="image/*" type="file"
                        (change)="onChangeImage($event)" />

                    <div class="flex  items-center gap-2">
                        <label>Do you want to delete old image?</label>
                        <p-toggleButton [disabled]="editBookForm.controls.imageFile.value !==null"
                            formControlName="deleteImage" onLabel="Yes" offLabel="No" />
                    </div>
                </div>


            </div>

            <div class="mt-6">
                <p-button iconPos="right" [loading]="isLoading" [disabled]="!editBookForm.valid" type="submit"
                    [label]=" isLoading? 'Creating. Plase wait':'Edit Book'" class="w-full" styleClass="w-full" />
            </div>
        </form>

        <ng-template pTemplate="footer">
            <div class="flex  justify-center items-center">
                <p class="text-sm text-gray-300">* Fileds are required </p>
            </div>
        </ng-template>
    </p-card>
</div>