<div class="mt-24 sm:mt-36">
    @if (isLoading) {
    <div class="w-full flex justify-center items-center mt-52">
        <p-progressSpinner ariaLabel="loading" />
    </div>
    }@else if(!isLoading && reservations && reservations.amount!==0) {
    <div class="flex gap-2 flex-wrap">
        <div>
            <p-iconField iconPosition="left">
                <p-inputIcon styleClass="pi pi-search" />
                <input type="text" pInputText placeholder="Search" class="w-full md:w-[30rem]" [(ngModel)]="serachValue"
                    (ngModelChange)="filter()" />
            </p-iconField>
            <p class="text-sm text-neutral-400 mt-1">
                Serach by book title
            </p>
        </div>
        <div>
            @if (users) {
            <p-multiSelect [options]="users" optionLabel="username" placeholder="Select users"
                [style]="{'width':'300px'}" [(ngModel)]="selectedUsers" (onChange)="filter()" />
            }
        </div>
        <div>
            <p-selectButton (onChange)="filter()" [options]="stateOptions" [(ngModel)]="value" optionLabel="label"
                optionValue="value" />
        </div>
    </div>

    <div class="my-6  grid md:grid-cols-2 lg:grid-cols-3 gap-6">
        @for (reservation of filteredReservations; track reservation.id) {
        <app-reservation-admin-card [reservation]="reservation" />
        }
    </div>

    @if ( reservations.amount !==0 && filteredReservations.length===0 && serachValue!=="" ) {
    <div class="w-full flex justify-center items-center mt-52">
        <p>Nothing found for <span class="font-bold">"{{serachValue}}"</span></p>
    </div>
    }
    }
    @else {
    <div class="w-full flex justify-center items-center mt-52">
        <p>No reservations found</p>
    </div>
    }
</div>